{%- assign note = include.note -%}
{%- assign published_at = note.date -%}
{%- assign published_date = published_at | date: "%Y-%m-%d" -%}
{%- assign updated_at = note.updated | default: note.date -%}
{%- assign updated_date = updated_at | date: "%Y-%m-%d" -%}
{%- assign tags_csv = note.tags | join: "," -%}
<li data-tags="{{ tags_csv | escape }}" data-date="{{ published_date }}" data-updated="{{ updated_date }}">
  <div class="note-body">
    <a class="note-link" href="{{ note.url | relative_url }}">{{ note.title }}</a>
    {%- if note.tags and note.tags.size > 0 -%}
      <ul class="note-tags" aria-label="文章标签">
        {%- for tag in note.tags -%}
          <li><a href="{{ '/notes/' | relative_url }}?tag={{ tag | uri_escape }}">{{ tag }}</a></li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    {%- if updated_at -%}
      <a class="note-updated" href="{{ '/notes/' | relative_url }}?updated={{ updated_date | uri_escape }}">最后修改：{{ updated_date }}</a>
    {%- endif -%}
  </div>
</li>
